[Unit]
Description=GNOME Keyring

[Service]
Type=dbus
BusName=org.gnome.keyring
BusName=org.freedesktop.secrets
ExecStart=/usr/bin/gnome-keyring-daemon --components=ssh,secrets,pkcs11 \
--start --foreground --control-directory=%t/keyring
ExecStartPost=/usr/bin/systemctl --user set-environment SSH_AUTH_SOCK=%t/keyring/ssh
ExecStopPost=/usr/bin/systemctl --user unset-environment SSH_AUTH_SOCK

[Install]
WantedBy=wayland-session-pre.target
