[Unit]
Description=Legacy polkit authentication agent for GNOME
After=graphical-session-pre.target

[Service]
Type=simple
ExecStart=/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1

[Install]
WantedBy=graphical-session.target
