[Unit]
Description=Wayfire user session
Documentation=man:systemd.special(7)
Requires=basic.target
BindsTo=graphical-session.target
Before=graphical-session.target
Requires=wayfire-session-pre.target
After=wayfire-session-pre.target
StopWhenUnneeded=yes
