[Unit]
Description=Session services which should run early before the Wayfire session is brought up
Documentation=man:systemd.special(7)
Requires=basic.target
Before=wayfire-session.target
RefuseManualStart=yes
StopWhenUnneeded=yes
BindsTo=graphical-session-pre.target
After=graphical-session-pre.target
Requires=wayfire.service
After=wayfire.service
